@import "https://fonts.googleapis.com/css?family=Lato:100";

:root {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo 2", cursive;
    position:relative;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

a:link { 
    text-decoration: none; 
}

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 1.5fr 1.5fr .2fr .5fr;
    grid-template-areas: 
        "empty empty empty empty"
        "sidebar main main main"
        "sidebar main main main"
        "choose main main main"
        "showcase showcase showcase showcase";
    grid-gap: .2rem;   
    position: relative;
    z-index: 1;
}

.container div {
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 5px;
    overflow: scroll;
    border: 1.5px solid gray;
}

.container * {
    background: transparent;
}

#main {
    display: flex;
    grid-area: main;
    justify-content: center;
    align-content:center;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: -5px;
    border: none;
    border-left: 2px gray solid;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

#sidebar {
    grid-area: sidebar;
    border: none;
    margin-left: 5px;
    border-bottom: 2px gray solid;
    padding-right: 5px;

}
#sidebar p{
    margin-top: 10px;
}

#choose{
    grid-area: choose;
    display: flex;
    text-align: center;
    color: white;
    font-size: 20px;
}

.showCase {
    grid-area: showcase;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;  
    border: none !important;
    margin: 0 5px 5px 5px;
}

.showCase > div {
    flex: 0 0 auto;
    width: 200px;
    margin-bottom: 5px;  
    margin-right: 5px;
    font-size: 15px;
    font-family:sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.589);
    border: none;
}

.showCase > div > span {
    border: none;
    display:inline-block;
    font-size: 1rem;
}



@media only screen and (max-width:550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 2em 2fr 3fr 2fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "showcase";
    }
}

.viewing {
    background-color: rgba(248, 121, 116, 0.781) !important;
}

.sourceBtn{
    color: white;
    display: block;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Baloo 2";
    font-size: 20px;
    background-color: rgba(220, 20, 60, 0.76);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}