extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Vincent Ngo
        p Full Stack JavaScript Developer


        .about-bio

          
          p Prepare to be amazed by something great that is due to come one day... but not today... not yet...


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Async Programming
          li OOP
          li VS Code
          li API
          li Templating
          li Node.js
          li Express
          li React

        h6 Contact Info

        
        ul
          li 555-555-1234
          li email@email.com

        a.btn-link(href='https://www.linkedin.com' target='_blank') LinkedIn
        a.btn-link(href='https://github.com' target='_blank') GitHub
        a.btn-link(href='https://www.twitter.com' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back